page-meeting-create {
    ion-content{
        margin-top: 35%;
        margin-bottom: 35%;
    }

    .bora-agora-button{
        font-size: 18px;
        height: 80px;
    }

    .bora-marcar-button{
        font-size: 18px;
        height: 80px;
    }


}
