page-meeting-create {

    ion-img{
        width:100%;
        height: 160px;
        background-color: transparent;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 15%;
    }

    ion-content{
        margin-bottom: 35%;
    }

    .bora-agora-button{
        margin-top: 30px;
        font-size: 18px;
        height: 60px;
    }

    .bora-marcar-button{
        font-size: 18px;
        height: 60px;
    }


}
