page-login {}

.login-text {
 text-align:center;
  font-size: 150%;
  color: Black;

}
.login-button {
    width:45%;
    margin-left:3%;
}

.sign-up-button{
    margin-left: 5%;
    width:45%;
}
.button-ios{
    background-color: #32db64;
}