<ion-header>

  <ion-navbar>
    <ion-title>{{TEXT.PAGE_TITLE}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-title>{{TEXT.MEETING_NAME_FIELD}}</ion-title>
  <ion-item>
    <ion-input placeholder={{TEXT.MEETING_NAME_FIELD}} [(ngModel)]="meeting.name"></ion-input>
  </ion-item>
  <BR>
  <BR>

  <ion-title>{{TEXT.MEETING_LOCAL}}</ion-title>
  <ion-item>
    <ion-input placeholder={{TEXT.MEETING_LOCAL_DESC}} [(ngModel)]="meeting.local"></ion-input>
  </ion-item>
  <BR>
  <BR>

  <ion-title>{{TEXT.TIME_INTERVAL_PICKER}}</ion-title>
  <BR>

  <ion-segment [(ngModel)]="scheduleType" color="secondary">
    <ion-segment-button value="fixedDate">
      {{TEXT.FIXED_DATE}}
    </ion-segment-button>
    <ion-segment-button value="defineDate">
      {{TEXT.TO_BE_DEFINED_DATE}}
    </ion-segment-button>
  </ion-segment>
  <BR>
  <BR>

  <div *ngIf="scheduleType == 'fixedDate'">
    <ion-title>{{TEXT.SELECT_DATE}}</ion-title>

    <ion-item>
      <ion-label>{{TEXT.MEETING_START}}</ion-label>
      <ion-datetime displayFormat="MMM DD HH:mm" [(ngModel)]="fixDate.start"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{TEXT.MEETING_END}}</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="fixDate.end"></ion-datetime>
    </ion-item>
  </div>

  <div *ngIf="scheduleType == 'defineDate'">
    <ion-title>{{TEXT.PICK_INTERVAL}}</ion-title>

    <ion-item>
      <ion-label>{{TEXT.MEETING_INTERVAL_START}}</ion-label>
      <ion-datetime displayFormat="MMM DD" [(ngModel)]="unfixDate.start"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{TEXT.MEETING_INTERVAL_END}}</ion-label>
      <ion-datetime displayFormat="MMM DD" [(ngModel)]="unfixDate.end"></ion-datetime>
    </ion-item>
  </div>
  <BR>
  <BR>

  <div *ngIf="detailOptions == true">
    <ion-title>{{TEXT.MEETING_DETAIL}}</ion-title>
    <ion-item>
      <ion-input placeholder={{TEXT_MEETING_DETAIL}} clearInput></ion-input>
    </ion-item>
  </div>

  <button ion-button color="secondary" (click)="createMeeting()" block>{{TEXT.INVITE_PEOPLE}}</button>

</ion-content>