page-meeting-schedule-mananger {

    .navWapper {
        display: flex;
        align-content: space-between;

        .info {
            font-size: 25px;
            width: 300px;
            text-align: center;
            border-bottom-style: solid;
        }
    }


    .peopleList {
        display: inline-table;
    }

    .dispSit{
        display: inline-flex;
    }

}
