page-meeting-list {
.roundedimg, .item-ios ion-avatar img{
    border-radius: 0%;
}
}
.segment-ios-qui .segment-button{
    border-color:#513385;
    color:#513385;
}
.button-ios-qui{
    background-color:#513385;
}